@media (max-width: 991px) {

:root {
  --Primary-color: black;
  --secondary-color: lightgrey;
  --tertiary-color: rgb(255, 102, 0); 
  --text1-color: black;
  --text2-color: white;
  --leftRightPadding: 100px;
  --topButtomPadding: 20px;
}

header {
  padding: 10px;
  justify-content: space-between;
}

header h2 {
  width: 50%; 
  font-size: 18px;
}

header a {
  width: 20%;
}

header a button {
  width: 100%;
  background-color: var(--Primary-color);
  border:  1px solid white;
  color: var(--text2-color);
}

header ul {
  display: none;
}

.menuDiv {
  width: 15%;
  display: flex;
}

.showMenu {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hideMenu {
  width: 50px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
}

#homePage {
  flex-direction: column;
  padding: 5px 10px;
  height: 70vh;
}

.homePageLeft h2 {
  font-size: 25px;
}

.homePageLeft {
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
  
}

.homePageLeftDiv1 {
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

.homePageLeftDiv1 a {
  width: 45%;
}

.homePageLeftDiv1 a button {
  width: 100%;
}

.homePageRight {
  width: 50%;
  height: 35%;
  position: absolute;
  top: 90px;
  right: 0;
}

.homePageRightCircle {
  width: 100%;
  height: 100%;
}

#stackPage {
  height: 70vh;
  padding: 10px;
}

#stackPage > h1 {
  font-size: 25px;
}

.stackCard { 
  width: 40%;
}

#aboutMe { 
    padding: 10px;
}

#aboutMe > h1 {
  font-size: 25px;
}

.aboutMeDiv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeDivleft {
  width: 60%;
  height: 20%;

}

.aboutMeDivRight {
  width: 100%;
  height: 80%;
}

.aboutMeDivRight p {
  font-size: 14px;
}

#PortfolioPage { 
  padding: 9px;
}

#PortfolioPage > h1 {
  font-size: 25px;
}

.projectStack { 
  width: 100%;
  background: #000;
  font-size: 12px;
  padding: 0 10px;
}

.ProjectWrapONE {
  padding: 5px;
  height: 500PX;
  align-items: flex-start;
}

.ProjectWrapTWO {
  padding: 5px;
  height: 500PX;
  align-items: flex-start;
}

.ProjectWrapTHREE {
  padding: 5px;
  height: 500PX;
  align-items: flex-start;
}

.ProjectWrapFOUR {
  padding: 5px;
  height: 500PX;
  align-items: flex-start;
}
.ProjectWrapFIVE {
  padding: 5px;
  height: 500PX;
  align-items: flex-start;
}

.job-card { 
  width: 40%;
}

#contactMe { 
  padding: 10PX;
  height: 40vh;
}

#contactMe h1 {
  font-size: 25px;
}



form input { 
  width: 45%;
  float: left;
}

footer {
  padding: 10px;
  height: 25vh;
}

footer ul h2 { 
  font-size: 15px;
}

.menuFoot {
  height: 35px;
}

.menuFoot a {
  font-size: 12px;
}

.socialFoot {
  width: 100%;
  padding: 5px;
}

.socialFoot a {
  width: 30px;
  height: 30px;
}

footer span {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

    

}


@media (max-width: 991px) {
form input { 
  width: 40%;
  float: left;
}
}